.banners {
  height: 400px;
  display: flex;
  margin-bottom: 60px;
  width: 500px;
  margin-left: 400px;
  margin-top: 100px;
  gap: 3px;
}

.hero {
  height: 500px;
  display: flex;
  background-color: blue;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 20px;
}
.herotitles {
  display: flex;
  flex-direction: column;
  margin-top: -160px;
  margin-left: 200px;
  margin-bottom: 70px;
}
.herotitle {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  color: white;
  font-size: 200px;
  display: flex;
  margin-top: -300px;
}
.herotitletwo {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 80px;
  color: red;
  margin-top: -70px;
  margin-left: 750px;
}
.herobanner {
  display: flex;
  gap: 10px;
  width: 300px;
  height: 300px;
  margin-left: 900px;
  margin-top: 40px;
}
