.navbar {
  background-color: blue;
  display: flex;
  flex-direction: row;
  height: 130px;
  justify-content: space-around;
  align-items: center;
}
.cart {
  display: flex;
  width: 40px;
  height: 40px;
  margin-top: -20px;
}
.addtocarticon {
  background-color: rgb(255, 0, 0);
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  border-radius: 40px;
  align-items: center;
  margin-bottom: 0px;
  margin-left: 28px;
  margin-top: 10px;
}
.itemsaddtocart {
  color: rgb(255, 255, 255);
  justify-content: center;
  padding: 8px;
}
.home {
  gap: 40px;
  display: flex;
  margin-left: 10px;
  margin-top: 30px;
}
.navlinks {
  display: flex;
  color: white;
  font-size: large;
  gap: 10px;
}
.logo {
  width: 80px;
  height: 80px;
  margin-left: 1px;
  align-items: center;
  display: flex;
}
