.footermaintitle {
  font-size: larger;
  font-size: 250%;
  display: flex;
  margin-left: 10px;
  margin-top: -34px;
  font-weight: 900;
  height: 20px;
  color: blue;
  padding: 20px;
}
.footertitle {
  margin-left: 50px;
}
.socialmediaicons {
  margin-left: 33px;
  margin-top: -4px;
}
.Footer {
  margin-top: 50px;
}
