.popular {
  margin-top: 60px;
  margin-left: 150px;
  gap: 60px;
  display: block;
  column-width: 270px;
  margin-right: 100px;
}
.addtocart {
  background-color: rgb(31, 31, 255);
  color: white;
  text-align: center;
  height: 30px;
  width: 100px;
}
.popularone {
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  margin-top: 250px;
  margin-left: 100px;
  font-weight: 700;
}
.not-found {
  margin-top: 40px;
  margin-left: 500px;
  display: flex;
  font-weight: 800;
  background-color: rgb(129, 129, 247);
  color: white;
  width: 500px;
  height: 200px;
  align-items: center;
  justify-content: center;
}
